.tweet-box {
    border: 1px solid gray;
    display: block;
}

#tweetArea {
    list-style: none;
}

#tweetArea>li {
    border: 1px solid gray;
    margin-top: 15px;
}

.fa-twitter {
    margin-bottom: 10px;
    color: #1DA1F2;
}

.nav-link {
    color: #14171A;
}

.nav-link:hover {
    color: #1DA1F2;
}

.nav-link>i {
    width: 40px;
}

.nav-button {
    margin-top: 20px;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(29, 161, 242);
    border-radius: 30px;
    border-style: none;
    color: white;
}

.fa-search {
    position: absolute;
    padding-left: 10px;
    padding-top: 20px;
    color: #657786;
}

#searchInput {
    width: 300px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E1E8ED;
    border-radius: 30px;
    border-style: none;
    color: #657786;
}

#searchBtn {
    visibility: hidden;
}

.trends-settings {
    border-bottom: 1px solid #AAB8C2;
    padding-top: 15px;
    padding-bottom: 5px;
}

.col-trends-title {
    font-size: 0.9em;
}

.col-trends-icon {
    display: flex;
    justify-content: flex-end;
}

.trends-world {
    margin-top: 10px;
}

.trends-world>h6 {
    font-size: 12px;
    color: #657786;
}

#news {
    display: flex;
    align-items: center;
    margin-top: 10px;
    max-height: 90px;
    border: 1px solid #AAB8C2;
    border-radius: 15px;
    overflow: hidden;
}

#source {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#source > a {
    color: #657786;
}

#contentsArea>#title {
    font-size: 0.7em;
    padding-left: 10px;
    padding-right: 10px;
}

a .fill-red {
    color: rgb(222, 41, 96);
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    transition-duration: .3s;
}

a .fill-red:hover {
    color: rgb(222, 41, 96);
    background-color: rgba(222, 41, 96, .1);
    transition-duration: .3s;
}

a .fill-none:hover {
    color: rgb(222, 41, 96);
    background-color: rgba(222, 41, 96, .1);
    transition-duration: .3s;
}

a .fill-none {
    color: rgb(107, 123, 133);
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    margin: 3px;
    border-radius: 50%;
    transition-duration: .3s;
}

a .rt-icon {
    color: rgb(107, 123, 133);
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    margin: 3px;
    border-radius: 50%;
    transition-duration: .3s;
}

a .rt-icon:hover {
    color: rgb(39, 189, 103);
    background-color: rgba(39, 189, 103, .1);
    transition-duration: .3s;
}

a .bubble{
    color: rgb(107, 123, 133);
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    margin: 3px;
    border-radius: 50%;
    transition-duration: .3s;
}
a .bubble:hover{
    color: rgb(29, 161, 242);
    background-color: rgba(29, 161, 242, .1);
    transition-duration: .3s;
}
